/*!
 * DosXtremos App v1.0
 *
 * Copyright 2012 DosXtremos
 * Designed and Developed by Iberian Media (http://iberianmedia.com)
 * Maintained by Elements Projects (https://elements-projects.com)
 */


/* BASE STYLES & BOOTSTRAP MODIFIED STYLES
------------------------------------------------------------------ */

body {
	padding-top: 60px;
}

.navbar .logo {
	display: block;
	margin-right: 30px;
}

.navbar .logo img {
	display: block;
}

body > footer {
	margin: 18px 0px;
	padding: 18px 0px;
	border-top: 1px solid #eee;
}

body > section > header .breadcrumb,
body > section > header .nav-pills {
	margin: 18px 0px 0px 0px;
}

.dl-horizontal dt,
.dl-horizontal dd {
	margin-bottom: 8px;
}

.dl-horizontal dt {
	width: 150px;
	text-align: left;
}

.dl-horizontal dd {
	margin-left: 160px;
}

.modal {
	overflow: visible;
	width: 680px;
	margin-left: -340px;
}

.modal-body {
	padding: 25px;
	max-height: 300px;
}

.modal form {
	margin-bottom: 0px;
}

.modal .dl-horizontal dt {
	width: 100px;
}

.modal .dl-horizontal dd {
	margin-left: 120px;
}

.tab-content .dl-horizontal {
	margin-left: 20px;
}

.dropdown-menu a {
	text-align: left;
}

.modal-header {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-o-border-top-left-radius: 3px;
	-o-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.span2 .input-append input.span2,
.span2 .input-prepend input.span2 {
	width: 103px;
}

.bootstrap-timepicker.dropdown-menu {
	max-width: 180px;
}

.bootstrap-timepicker table td a {
	text-align: center;
}

.modal.offer .modal-header,
.modal.prebooking .modal-header,
.modal.booking .modal-header {
	color: #fff;
}

.modal.offer .modal-header {
	background-color: #07a914;
}
.modal.prebooking .modal-header {
	background-color: #edab05;
}
.modal.booking .modal-header {
	background-color: #fd685d;
}

.navbar .nav > li > .salutation {
	display: block;
	padding: 9px 10px 11px;
	font-weight: bold;
	color: #fff;
}

.page-subheader {
	margin-bottom: 18px;
}

.icon-spinner {
	width: 16px;
	height: 16px;
	background-image: url("../img/icon-spinner.gif");
	background-position: 0px 0px;
}

.table th.divider,
.table td.divider {
	border-left: 1px solid #DDD;
}

/* CALENDAR STYLING
------------------------------------------------------------------ */

/* LEGEND */

.legend {
	margin-left: 0px;
}
.legend li {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.legend li:before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background-color: #eee;
	border: 1px solid #999;
}
.legend li.offered:before {
	background-color: #07a914;
}
.legend li.pre-booked:before {
	background-color: #edab05;
}
.legend li.booked:before {
	background-color: #fd685d;
}

/* CALENDAR TABLES */

.table.calendar tr.no-price td {
	color: #999;
}
.table.calendar tr.week_start th,
.table.calendar tr.week_start td {
	border-top: 1px solid #666;
}

.table.calendar tbody td > a,
.table.calendar tbody .offer_list a,
.table.calendar tbody td > span.placeholder {

	display: block;
	padding: 6px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	background-color: #eee;

}

.table.calendar tbody td a.offer,
.table.calendar tbody td a.prebooking,
.table.calendar tbody td a.booking {
	color: #fff;
}

.table.calendar tbody td a.offer {
	background-color: #07a914;
}

.table.calendar tbody td a.prebooking {
	background-color: #edab05;
}

.table.calendar tbody td a.booking {
	background-color: #fd685d;
}

.table.calendar tbody td a.add_booking {
	margin-bottom: 8px;
}

.table.calendar ul.offer_list {
	margin: 0px;
}
.table.calendar ul.offer_list li {
	margin-top: 8px;
	list-style: none;
}
.table.calendar ul.offer_list li:first-child {
	margin-top: 0px;
}


/* PRINT DOCUEMNTS STYLING
------------------------------------------------------------------ */

body.print > section.container {
	width: 800px;
}
body.print > section > header img.logo {
	display: block;
	margin-bottom: 20px;
}
.table-print thead th {
	color: #fff;
	background-color: #999;
}
.table-print tr th,
.table-print tr td {
	text-align: center;
}
.table-print tr th:first-child,
.table-print tr td:first-child {
	padding-left: 16px;
	text-align: left;
}
.table-print tr th:last-child,
.table-print tr td:last-child {
	padding-right: 16px;
	text-align: right;
}
.table-print tfoot td {
	border-top-color: #999;
}
body.print > section > footer small {
	font-size: 10px;
}


/* SCROLLING TABLES
------------------------------------------------------------------ */

#scroll-table {

	overflow: hidden;
	margin-bottom: 18px;

	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;

}

#scroll-table .fixed-column {

	width: 156px;
	float: left;
	position: relative;

}

#scroll-table .scroll-pane {

	width: 783px;
	float: left;
	position: relative;
	overflow: hidden;

	-webkit-box-shadow: 3px 1px 6px rgba(0,0,0,0.1) inset;

}

#scroll-table table {

	width: auto;
	border-collapse: separate;

}

#scroll-table table th,
#scroll-table table td {

	min-width: 140px;

	text-align: left;

	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #fff;


}

#scroll-table .fixed-column th {

	padding: 8px;

}

#scroll-table .fixed-column .nav_head {

	padding: 22px 8px;

}

#scroll-table .scroll-pane th {

	padding: 8px;
	line-height: 28px;

}

#scroll-table .scroll-pane td {

	padding: 2px;

}

#scroll-table .scroll-pane tbody a {

	display: block;
	padding: 6px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	background-color: #eee;

}

#scroll-table .scroll-pane tbody a.multi-start {
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
#scroll-table .scroll-pane tbody a.multi-mid {
	-webkit-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#scroll-table .scroll-pane tbody a.multi-end {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}

#scroll-table .scroll-pane tbody a.offered,
#scroll-table .scroll-pane tbody a.pre-booked,
#scroll-table .scroll-pane tbody a.booked {
	color: #fff;
}

#scroll-table .scroll-pane tbody a.offered {
	background-color: #07a914;
}

#scroll-table .scroll-pane tbody a.pre-booked {
	background-color: #edab05;
}

#scroll-table .scroll-pane tbody a.booked {
	background-color: #fd685d;
}
#scroll-table .scroll-pane tbody a.no-price {
	color: #999;
}

/* Ghost Table Header */

#scroll-table .ghost-header {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
}

#scroll-table .ghost-header th {
	padding: 8px;
	line-height: 20px;
	color: #ccc;
	background-color: rgba(0,0,0,0.75);
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

#dates-header > thead > tr > th {
  position: relative;
  min-height: 40px;
  display: block;
}
#dates-header .btn-group {
  margin-top: 8px;
}


/* LOGIN PAGES
------------------------------------------------------------------ */

body.login {
	background-color: #eee;
}

.login > .container .login_form {

	width: 300px;
	margin: 20px auto;
	padding: 20px 40px 40px 40px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;

	background-color: #fff;

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.25);

}

.login .login_form fieldset {
	margin-top: 10px;
}


/* MAPS PAGE ELEMENTS
------------------------------------------------------------------ */

#google_map {
	height: 600px;
}

#google_map img,
#google_route img,
#google_route table {
	max-width: none;
}

#google_route table {
	width: 100%;
}


/* PUBLIC PAGE ELEMENTS
------------------------------------------------------------------ */

.public.login {
	background-color: #3d523d;
}

.public.login .logo {
	width: 380px;
	height: 80px;
	margin: 0 auto;
	text-indent: -9999px;
	background: transparent url('../img/application_logo_login.png') center center no-repeat;
}

.public.login .login_form {
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(230, 230, 230)));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image: linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e6e6e6');
}

.public.login .alert h3 {
	line-height: 100%;
	margin-bottom: 10px;
}


/* POST DEVELOPMENT TWEAKS
------------------------------------------------------------------ */

#bookings.table thead th:nth-child(1) {
	width: 50px;
}

#bookings.table thead th:nth-child(2) {
  width: 100px;
}

.table_holder {
	overflow-x: auto;
}
