/*!
 * DosXtremos App v1.0
 *
 * Copyright 2012 DosXtremos
 * Designed and Developed by Iberian Media (http://iberianmedia.com)
 *
 */


/* IE8 FIXES
------------------------------------------------------------------ */

.navbar .logo {
	width: 188px;
	height: 40px;
}

.print .legal {
	width: 300px;
}