/*!
 * DosXtremos App v1.0
 *
 * Copyright 2012 DosXtremos
 * Designed and Developed by Iberian Media (http://iberianmedia.com)
 *
 */


/* HIDE UNNECESSARY ELEMENTS FOR PRINT
------------------------------------------------------------------ */

body {
	padding-top: 0px;
}

.navbar,
.nav,
.btn,
form,
.no_print {
	display: none;
}